.container {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.form {
  flex: 1;
  padding: 20px;
}

.h1-text {
  text-align: center;
  font-family: 'Qatar2022Arabic-Bold';
  color: goldenrod;
  padding: 20px;
  font-size: 60px;
}

.form-names {
  font-family: 'Qatar2022Arabic-Bold';
  color: goldenrod;
}

.base-form-action {
  display: flex;
  justify-content: space-around;
}

.form-cancelar {
  width: 150px;
  align-items: center;
}

.form-salvar {
  width: 150px;
  margin-right: 20px;
  align-items: center;
}

@media (max-width: 600px) {
  .h1-text {
    font-size: 40px;
  }
}